<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <ngb-carousel
	#carousel
	[interval]="1000"
	[pauseOnHover]="pauseOnHover"
	[pauseOnFocus]="pauseOnFocus"
	(slide)="onSlide($event)"
>
	@for (img of images; track img; let i = $index) {
		<ng-template ngbSlide>
			<div class="carousel-caption">
				<h3>My slide {{ i + 1 }} title</h3>
			</div>
			<a href="https://www.google.fr/?q=Number+{{ i + 1 }}" target="_blank" rel="nofollow noopener noreferrer">
				<div class="picsum-img-wrapper">
					<img class="carousel-img" [src]="img" alt="My image {{ i + 1 }} description" />
				</div>
			</a>
		</ng-template>
	}
</ngb-carousel>
        </div>
    </div>
</div>