
<div class="card" *ngIf="user">
    <div class="card-header">user information</div>
    <div class="card-body">
     <div class="img-container text-center">
        <img 
         class="img"
         [src]="userserive.getuserimageurl(user.userid)"
         onerror="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJEn8WCF8ZW4gIj5M4yWYvp-BfOjFtpeT-8ffys9-y1w&s'"
          alt="">
     </div>
     <h3 class="text-center my-2">{{user.name}}</h3>
     <div class="table-responsive mt-5">
        <table class="table table-bordered text-center">
  <tbody>
    <tr>
        <td class="fw-bold">user id</td>
        <td>{{user.userid}}</td>
    </tr>
    <tr>
        <td class="fw-bold">name</td>
        <td>{{user.name}}</td>
    </tr>
    <tr>
        <td class="fw-bold">email id</td>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <td class="fw-bold">gender</td>
        <td>{{user.gender}}</td>
    </tr>
    <tr>
        <td class="fw-bold">about</td>
        <td>{{user.about}}</td>
    </tr>
    <tr>
        <td class="fw-bold">role </td>
       <span *ngFor="let role of user.role">
     <span class="badge rounded-pill text-bg-primary ms-2">{{role.rolename}}</span>
    </span>
    </tr>
  </tbody>


        </table>
     </div>
    </div>
 </div>