
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center">all users</h3>
                <div
                infiniteScroll
                [infiniteScrollDistance]="2"
                [infiniteScrollThrottle]="200"
                (scrolled)="userScroll($event)"
                
                class="list-group" *ngIf="userresponse">
                    <div (click)="openusermodel(viewcontent,user)" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" *ngFor="let user of userresponse.content">   
    
     <div>
        <p class="fw-bold mb-1">{{user.name}}</p>
     <p class="text-muted mb-1">{{user.email}}</p>
     <span  *ngFor="let role of user.role">
         
    <span [ngClass]="{'text-bg-primary':role.rolename=='ROLE_NORMAL','text-bg-success':role.rolename=='ROLE_ADMIN'}" class="badge ms-2 rounded-pill">
        {{role.rolename}}
    </span>
     </span>
     </div>


     <div class="button-container mt-2">
        <button class="btn btn-sm btn-outline-success" (click)="openusermodel(viewcontent,user)">view </button>
    </div>
  
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #viewcontent let-model>
 <app-user-view [user]="user"></app-user-view>
</ng-template>
